<div>

  <div><%=link_to 'Home', users_path %></div>
  <div><%= link_to 'Users', users_path %></div>
  <div><%= link_to 'Students' , students_path %></div>
  <div><%= link_to 'Register' , new_user_path %> </div>
</div>
